body {
  font-family: "Josefin Sans";
  background-color: ghostwhite;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
a {
  color: black;
}
::-webkit-scrollbar {
  width: 0px;
}
.food-card {
  width: 320px;
  height: 290px;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
  border: 1px solid black;
}
.food-card img {
  height: 206px;
  width: 300px;
  border-radius: 10px;
}
.food-card:hover {
  transform: scale(1.1, 1.1);
}
.card-title {
  transition: all ease-in-out 0.3s;
}
.card-title:hover {
  background-color: orange;
  color: white;
}
.dropdown{
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
 
}
.dropdown-row{
  padding: 3px;


}
@media screen and (max-width: 1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }
}
